<doctype html>
<head>
    <title>Search User</title>
</head>

<h2>Search User</h2>

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.select) }}
    <p>
    {{ render_field(form.search) }}
  </dl>

  <p><p>
  <a href="{{ url_for('.new_user') }}"> New User </a>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <p><input type=submit value=Search>
</form>